@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-paleblue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --btn-hover-color: hsl(245, 83%, 68%);
  --white: hsl(0, 0%, 100%);
}
/* background for html and body */
html {
  background-color: var(--pale-blue);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* Wave background for mobile screen */
  background: url("images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.order-summary-card {
  width: 320px;
  background-color: var(--white);
  border-radius: 1.25rem;
}
.order-image-area {
  width: 320px;
  height: 200px;
}
.order-image-area .order-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}
.order-summary {
  text-align: center;
}
.card-title {
  font-size: 1.9rem;
  margin: 1.25rem 1.25rem;
  color: var(--dark-blue);
}
.order-info {
  font-size: 1rem;
  margin: 1.25rem;
  color: var(--desaturated-blue);
}
.plan-details {
  background-color: var(--very-paleblue);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.25rem;
  margin: 1.25rem;
}
.plan-info {
  font-size: 0.9rem;
}
.plan-info .plan-type {
  color: var(--dark-blue);
}
.plan-info .plan-price {
  color: var(--desaturated-blue);
}
.plan-change {
  display: flex;
  line-height: 2.5rem;
  align-content: center;
  text-decoration: underline;
  color: var(--bright-blue);
  font-weight: 500;
  cursor: pointer;
  transform: 1s;
}
.plan-change:hover {
  text-decoration: none;
  color: var(--btn-hover-color);
}
.payment-btn {
  background-color: var(--bright-blue);
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: var(--white);
  margin: 0 1.5rem 1.25rem 1.25rem;
  padding: 0.6rem;
  width: 80%;
  border: none;
  box-shadow: 0 0.6rem 0.6rem rgb(141, 160, 214);
  cursor: pointer;
  transform: 1s;
}
.payment-btn:hover {
  background-color: var(--btn-hover-color);
}
.cancel-btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  color: var(--desaturated-blue);
  font-weight: 900;
  margin-bottom: 1.25rem;
  cursor: pointer;
  transform: 1s;
}
.cancel-btn:hover {
  color: var(--dark-blue);
}

/* Responsiveness for Tablet and Laptop devices */
@media screen and (min-width: 576px) {
  body {
    /* Wave background for Tablet and Laptop screens */
    background: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .order-summary-card {
    width: 375px;
  }
  .order-image-area {
    width: 375px;
    height: 175px;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .plan-change {
    font-weight: 700;
    font-size: 1rem;
  }
  .payment-btn {
    font-size: 1rem;
  }
  .cancel-btn {
    font-size: 1rem;
  }
}
